<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for location -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".Supabase.MyApplication"
        android:theme="@style/Theme.PractiseAndroid"
        tools:targetApi="31">

        <activity
            android:name=".Supabase.SupaBaseActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".realtimeDatabase.RealtimeActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".viewPager.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false"/>
        <activity
            android:name=".sideMenu.SideMenuActivity"
            android:exported="false" />
        <activity
            android:name=".RoomDatabase.foreign_key.NotesViewActivity"
            android:exported="false" />
        <activity
            android:name=".RoomDatabase.RoomDBActivity"
            android:exported="true" />
        <activity
            android:name=".location.LocationAccessActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".Interaction.InterfaceActivity"
            android:exported="true"
            android:theme="@style/Theme.PractiseAndroid" />
        <activity
            android:name=".jetpack_fragments.JetpackActivity"
            android:exported="false" />
        <activity
            android:name=".ComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_compose"
            android:theme="@style/Theme.PractiseAndroid" />
        <activity
            android:name=".DrawerActivity"
            android:exported="true"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.PractiseAndroid.NoActionBar" >

        </activity>
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>